.App {
  text-align : center;
  padding: 1px;
  background-color: pink;
}

.App-header {
  background-color: papayawhip;
  font-size: 1em;;
  text-align: center;
  margin: 3px;
  font-family: Times New Roman;
  border: 3px solid  lightcoral;
}

.App-link {
  color: pink;
}

.link {
  text-align: center
}

@keyframes  App-logo-spin {
  from {
    transform:  rotate ( 0 degress);
  }
  from {
    transform: rotate ( 360 degress );
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 10px solid rgb(252, 233, 236);

}

body {
background-color:  pink;
}

.rubriker {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: Times New Roman;
}
  
 .rubriker {
   text-align: center;
   font-family: Times New Roman;
 }

.bilder {
  text-align: center;
  width: 400px;
  height: 300px;
  padding: 35px;
  align-items: center;
}

.text {
  text-align: center;
  font-family: 'Times New Roman', Times, serif
}

.bilder {
  align-items: center;
}









